# =============================================
# IMAGES (tous les formats courants)
# =============================================
*.jpg
*.jpeg
*.jpe
*.jfif
*.pjpeg
*.pjp
*.png
*.gif
*.webp
*.tiff
*.tif
*.bmp
*.ico
*.svg
*.psd
*.ai
*.eps
*.indd
*.raw
*.cr2
*.nef
*.orf
*.sr2
# =============================================
# Projet Images
# =============================================
*.pdn
# =============================================
# Dossier
# =============================================
sample
multimedia
*.tmp.driveupload
*.log
/dev/test
/backup
