RewriteEngine On

RewriteRule ^style\/([a-z-]{3,30}).[0-9]+.(min|max).css$ style/$1.$2.css
RewriteRule ^javascript\/([a-z-]{3,30}).[0-9]+.(min|max).js$ javascript/$1.$2.js

RewriteRule ^sd-([a-f0-9]{64})-([a-f0-9]{64})$ multimedia/$1/$2 [L]
RewriteRule ^hd-([a-f0-9]{64})-([a-f0-9]{64})$ actions/gethd.php?hash=$2 [L,QSA]
