RewriteEngine On

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

RewriteRule ^style\/([a-z-]{3,30}).[0-9]+\.(min|max)\.css$ style/$1.$2.css [L]
RewriteRule ^javascript\/([a-z-]{3,30}).[0-9]+\.(min|max)\.js$ javascript/$1.$2.js [L]

RewriteRule ^(sd|hd)-([a-f0-9]{64})$ actions/fileget.php?type=$1&hash=$2 [L,QSA]