/*-------------------------------------------
--Fullscreen image display
-------------------------------------------*/

/**rgb(168, 199, 250)**/

aside#fullscreen_edit {
	color: #333;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100vh;
	display: none;
	justify-content: center;
	align-items: center;
	overflow: hidden;
	position: absolute;
	background-color: color(srgb 1 1 1 / 0.90);
	z-index: 1;
	box-sizing: border-box;
    padding: 20px 50px 20px 50px;
	border-top: 140px solid #a8c7fa;
	border-bottom: 140px solid #a8c7fa;
}

aside#fullscreen_edit.fullscreen, div#filelist
{
	display: grid;
	grid-template-columns: 1fr 1fr;
}

aside#fullscreen_edit div.infocontent
{
	background-color: transparent !important;
	height: 100% !important;
	scrollbar-width: none;       /* Firefox */
	-ms-overflow-style: none;    /* IE / Edge legacy */
}

aside#fullscreen_edit h3.conflict span, aside#fullscreen_edit h3 span.cursor
{
	color: darkorange;
}

aside#fullscreen_edit h3 button
{
	display: none;
	width: 300px;
	background-color: white;
}

aside#fullscreen_edit h4 button.cancel, aside#fullscreen_edit h3 span.cursor
{
	display: none;
}