main section.explore {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
	gap: 20px;
	width: 100%;
	grid-auto-rows: auto;
	place-items: center;
	padding-left: 20px;
	padding-right: 20px;
	padding-bottom: 50px;
	box-sizing: border-box;
}

main section.explore div.element {
	box-sizing: border-box;
	text-align: center;
	position: relative;
	overflow: hidden;
}

main section.explore div.element:hover  {
	font-weight: bolder;
}

main section.explore div.date:hover
{
	border: 10px solid rgba(145,200,250,1);
}
main section.explore div.element:hover img 
{
	border: 1px solid rgba(145,200,250,1);
}
main section.explore div img
{
	box-sizing: border-box;
	margin-bottom: 5px;
}

main section.explore div.expandmenu img
{
	opacity: 0.3;
}

main section.explore div.expandmenu span
{
	margin: 10px;
    top: 0px;
    font-size: 130px;
    position: absolute;
    left: 0px;
    color: #494949;
}

main section.explore div.date
{	
    border: 10px solid #494949;
    width: 130px;
    border-radius: 150px;
    height: 130px;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
    display: flex;
	font-size: 1.5em;
}

main section.explore div.element :where(img,video) {
	width: 150px;
	height: 150px;
	display: block;
	object-fit:cover;
	border-radius: 250px;
}

main section.explore div.fullrow h2 
{
	width: 100%;
	margin: 10px; 
	padding-top: 10px;	
	font-weight: normal; 
	color: #494949;
	font-size: 1.5em;
	text-align: center;
	padding-top: 10px;	
	border-top: 1px solid #494949;
}

main section.explore div.fullrow h2.notopborder
{
	border-top: 0px;
}

main section.explore div h2.title
{
	border-top: 0px;
	margin: 0px;
	padding: 0px;
}

main section.explore div.fullrow {
    grid-column: 1 / -1;
    height: auto;
    min-height: unset;
    align-self: start;
	width: 100%;
}