/*-------------------------------------------
--Fullscreen image
-------------------------------------------*/

#infocontent
{
	width: 500px;
	overflow: scroll;
	padding: 18px 0px 0px 18px;
}

#infocontent h2
{
	margin-top: 10px;
	margin-bottom: 5px;
}
#infocontent :where(h3,h4)
{
	color: #5e5e5e;
	margin: 0px;
}

#infocontent button
{
	box-sizing: border-box;
	border: 1px solid black;
	border-radius: 5px;
	width: fit-content;
	margin-top: 10px;
	padding: 2px 5px 2px 5px;
	height: 30px;
}
	
#infocontent :where(h2,h3,h4) {
	
	/*padding-top: 2px;
	padding-bottom: 2px;*/
	min-height: 35px;
	width: fit-content;
}

#infocontent h2 span.material-symbols-outlined
{
	margin-right: 10px;
}

#infocontent h3 span.material-symbols-outlined, 
h3.margin span,
#infocontent :where(h3,h4) button
{
	margin-left: 35px;
}

#infocontent :where(h2,h3,h4) span
{
	vertical-align: middle;
}

#infocontent :where(input,select)
{
	padding-left: 5px;
	/*margin-top: 5px;*/
	margin-left: 5px;
	border: 1px solid black;
	border-radius: 5px;
	background-color: white;
	width: 300px;
	box-sizing: border-box;
	height: 30px;
}

#infocontent :where(input,select)
{
	display: inline-block;
}

#infocontent h4.edit_ux :where(button.cancel,button.save)
{
	display: none;
}

#infocontent :where(span.unedit, span.solver)
{
	margin-left: 5px;
}

#infocontent h3#exif
{
	display: none;
}

#infocontent button.cancel
{
	/*color: red;*/
}

#infocontent button.save
{
	color: green;
}

#infocontent button.warning
{
	color: red;
}

#infocontent h4.edit_ux button:hover, h4.button-exif button:hover, aside#fullscreen_edit #infocontent h4 button:hover
{
	border: 2px solid black;
	padding: 1px 4px 1px 4px;
}

#infocontent span.legend
{
	font-size: small;
}