
aside#advancedfilters h3,h2
{
	border-color: #494949;
	width: 100%;
}
aside#advancedfilters h3.central
{
	border-top: 1px solid;
	border-bottom: 1px solid;

}

aside#advancedfilters h3.bottom
{
	border-bottom: 1px solid;	
}

aside#advancedfilters h3 div.value span input
{
	transform: scale(2);
	margin: 20px;
}

aside#advancedfilters h3 span
{
	vertical-align: middle;

}
	