main.welcome
{
	width: 100%;
	display: inline-flex;
	box-sizing: border-box;
	
}

main.welcome img
{
	width: 33.3%;
}

nav div#mainmenu
{
	width: 100%;
	display: inline-flex;
	align-items: center; /* Centre verticalement */
	gap: 40px;
	padding-left: 40px;
	padding-right: 40px;
	box-sizing: border-box;
}

@media (max-width: 768px) {
	nav div#mainmenu
	{
		gap: 5px;
		padding-left: 5px;
		padding-right: 5px;
	}
}

nav div#mainmenu div
{
	text-align: center;
	width: 25%;
	padding-top: 20px;
	padding-bottom: 20px;
}

nav div#mainmenu div input
{
	padding: 12px; !important;
}

nav div#mainmenu div.last
{
	text-align: right !important;
}

nav div#mainmenu div :where(button,input)
{
	width: 100%;
	box-sizing: border-box;
	/*border: 1px solid black;*/
	border: 0px;
	padding: 10px;
	border-radius: 30px;
}

nav div#mainmenu div button span
{
	vertical-align: middle;
}

nav div#mainmenu div.search
{
	position: relative;
}

nav div#mainmenu div.search input
{
	position: absolute;
    background-color: transparent;
    left: 0px;
    top: 21px;
	height: 44px;
	outline: none;
}	

nav div#mainmenu div button:not(.search):hover, nav div#mainmenu div.search:hover button
{
	background-color: #e9e9e9;	
	/*border: 2px solid black;
	padding: 9px;*/
}

nav div#mainmenu div button.selected, nav div#mainmenu div input:focus
{
	background-color: rgba(145,200,250,0.7);
}

.ux-infobox {
    position: fixed;
    bottom: 20px;
    left: 20px;
    width: 300px;
    padding: 12px 15px;
    border-radius: 12px;
    color: #333;
    font-family: 'Segoe UI', sans-serif;
    font-weight: 500;
    backdrop-filter: blur(6px);
	transition: opacity 0.3s ease;
	opacity: 1;
}

.ux-hidden-opacity
{
	opacity: 0 !important;
}

.ux-hidden-zindex
{
	z-index: 0 !important;
}

.ux-background
{
	background-color: #fafafa;
	box-shadow: 0 4px 12px rgba(0,0,0,0.1);
}