
nav#magicscrollbar
{
	height: auto;
	width: 20px;
	background-color: #fafafa;
	margin-left: 5px;
	box-shadow: -4px 0px 12px rgba(0,0,0,0.1);
	padding-top: 10px;
	padding-bottom: 10px;
}

nav#magicscrollbar div.pointer
{
	display: flex;
    flex-direction: column;
    justify-content: flex-end;
	
	position: absolute;
    text-align: center;

    background-color: transparent;
}

nav#magicscrollbar div.pointer span
{
	font-size: 20px;
	position: relative;
}

nav#magicscrollbar ul
{
	position: absolute;
	margin: 0px;
	padding: 0px;
}


nav#magicscrollbar ul li
{
	position: absolute;
	font-size: 20px;
}